﻿@model GASTOSMVC.Models.Admon
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Tls/Tls.css" rel="stylesheet" />
    <link href="~/Tls/TableResp.css" rel="stylesheet" />
    <script src="~/Tls/Tls.js"></script>
    <script type="text/javascript">
        function SPSendCBX() {
            gEBI("HDcbxAdmon").value = gEBI("cbxAdmon").value;
            gEBI("Frm").action = "@Url.Action("ConsAdmon", "Admon")"; gEBI("Frm").method = "post";
            gEBI("Frm").submit();
        }
        function FNGuardar() {
            gEBI("HDEsGuardar").value = gEBI("cbxAdmon").value;
            if (gEBI("cbxAdmon").value == "") gEBI("HDcbxAdmon").value ="0" ;
            gEBI("Frm").action = "@Url.Action("Guardar", "Admon")"; gEBI("Frm").method = "post";
            gEBI("Frm").submit();

        }
        function FNBorrar() {
            if (gEBI("cbxAdmon").value == "") return false;
            if (confirm("¿Desea eliminar este regstro?")) {
                gEBI("HDcbxAdmon").value = gEBI("cbxAdmon").value;
                if (gEBI("cbxAdmon").value == "") gEBI("HDcbxAdmon").value = "0";
                gEBI("Frm").action = "@Url.Action("Borrar", "Admon")"; gEBI("Frm").method = "post";
                gEBI("Frm").submit();
            }
            else {
                return false;
            }
        }

    </script>
</head>
<body>
    <form id="Frm" name="Frm">
        <div class="container">
            <h1>Administrador de Usuarios</h1>
            <div class="form-group">
                <label for="sel1">Selecciona un Usuario:</label>
                @Html.DropDownListFor(m => m.IDUsr, Model.LCBXUsr, "-- Selecciona una opción --", new { @class = "form-control", @id = "cbxAdmon", @onChange = "SPSendCBX();" })
            </div>
            <div class="form-group">
                <label for="Nombres">Nombre(s):</label>
                <input id="txtNom" name="txtNom" placeholder="Nombre" Class="form-control" value="@Model.Nombre" />
            </div>
            <div class="form-group">
                <label for="Paterno">Paterno:</label>
                <input id="txtPaterno" name="txtPaterno" placeholder="Paterno" Class="form-control" value="@Model.Paterno" />
            </div>
            <div class="form-group">
                <label for="Materno">Materno:</label>
                <input id="txtMaterno" name="txtMaterno" placeholder="Materno" Class="form-control" value="@Model.Materno" />
            </div>
            <div class="form-group">
                <label for="Usuario">Usuario:</label>
                <input id="txtUsuario" name="txtUsuario" placeholder="Usuario" Class="form-control" value="@Model.Usuario" />
            </div>
            <div class="form-group">
                <label for="Contra">Contraseña:</label>
                <input id="txtContra" name="txtContra" placeholder="Contraseña" Class="form-control" value="@Model.Password" />
            </div>
            <input type="button" id="btnSve" name="btnSve" value="Guardar" class="btn btn-default" onclick="return FNGuardar();" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" id="btnDel" name="btnDel" value="Borrar" class="btn btn-default" onclick="return FNBorrar();" />
        </div>
        <input type="hidden" id="HDEsGuardar" name="HDEsGuardar" value="0" />
        <input type="hidden" id="HDcbxAdmon" name="HDcbxAdmon" value="@Model.IDUsr" />
    </form>
</body>
</html>
