﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>::: GASTOS.NET :::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="@Url.Content("~/img/ROCKET.ICO")" />
    <link href="~/Tls/Tls.css" rel="stylesheet" type="text/css" />
    <script src="~/Tls/Tls.js" type="text/javascript"></script>
    <script>
        window.onload = SPLdTblMN;
    </script>
</head>
<body>
    <table id="TblMn" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="TD1" height="92%" valign="top">
                <iframe id="FrmMn" name="FrmMn" src="@Url.Action("Index", "Acc")" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>
        <tr>
            <td height="8%" align="center" valign="middle" class="ColorBg">
                <label class="FtoFootI">Derechos Reservados @Html.Raw(DateTime.Now.Year) &copy;</label>
            </td>
        </tr>
    </table>
</body>
</html>
