﻿@model GASTOSMVC.Models.Transaccion
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Tls/Tls.css" rel="stylesheet" />
    <link href="~/Tls/TableResp.css" rel="stylesheet" />
    <script src="~/Tls/Tls.js"></script>

    <script type="text/javascript">
        
        function fnEsActualiza() {
            gEBI("Frm").action = "@Url.Action("Guardar", "Transaccion")"; gEBI("Frm").method = "post";
            gEBI("Frm").submit();
        }
    </script>

</head>
<body>
    <form id="Frm" name="Frm">
        <div class="container">
            <h2>Registro de Gastos</h2>
            <div class="form-group">
                <label for="sel1">Selecciona un Concepto:</label>
                @Html.DropDownListFor(m => m.WCBXGastos, Model.LCBXGastos, "-- Selecciona una opción --", new { @class = "form-control", @id = "cbxCatGastos" })
            </div>
            <div class="form-group">
                <label for="Fecha">Fecha:</label>
                @Html.DropDownListFor(m => m.WDia1, Model.LCBXDia1, "-- Selecciona un Día --", new { @class = "form-control", @id = "cbxDia1" })
                <br />
                @Html.DropDownListFor(m => m.WCBXMes1, Model.LCBXMes1, "-- Selecciona una Mes --", new { @class = "form-control", @id = "cbxMes1" })
                <br />
                @Html.DropDownListFor(m => m.WCBXYear1, Model.LCBXYear1, "-- Selecciona una opción --", new { @class = "form-control", @id = "cbxYear1" })
                <br />
            </div>
            <div class="form-group">
                <label for="GastoEsp">Gasto Especial</label>
                @Html.DropDownListFor(m => m.WCBXGas, Model.LCBXGas, "-- Selecciona un Gasto Especial --", new { @class = "form-control", @id = "cbxGas" })
            </div>

            <div class="form-group">
                <label for="Gasto">Gasto $</label>
                <input type="text" id="txtGas" name="txtGas" placeholder="Gasto" class="form-control" value="@Model.dGastos" />
            </div>
            <input type="button" value="Guardar" CssClass="btn btn-default" OnClick="return fnEsActualiza();" />
        </div>
        <input type="hidden" id="HDIDGas" name="HDIDGas" value="@Model.IDGas" />
    </form>
</body>
</html>
